<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Um</title>
    <style>
        td{
            border: 2px solid pink;
        }
    </style>
</head>
<body>
    <h1>Explorando o Academico</h1>
    <table>
        <thead>
            <tr>
                <td>Nome</td>
                <td>Cidade</td>
            </tr>
        </thead>
        <tbody>
            {% for nome in alunos %}
            <tr>
                <td>{{nome}}</td>
                <td>{{cidade}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>